@media only screen and (max-width:850px){
  .navbar{
      padding: 0;
  }
  .logo{
      top: 50px;
      left: 30px;
      width: 100px;
      height: 50px;
      justify-content: space-between;
  }
  .header-content h1{
    font-size: 7vmin;
  }

  .nav-links{
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      margin-top: -900px;
      transition: all 0.5 ease;
  }
  .mobile-menu{
      margin-top: 0px
  }
  .nav-links li{
      margin: 30px auto;
  }
  .grafico{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-left: 40%;
  }

  .container_grafico{
    flex-direction: column;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .leg{
    flex-direction: column;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 17px; 
  }
  
}


@media screen and (max-width: 700px){
  header .container{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px){
  .description{
    width: 50%;
  }
  *{
    box-sizing: border-box;
  }
  body {
      margin: 0
    }

    img {
      vertical-align: middle;
    }
}


/*tipos de câncer*/


:root{
  --color_prostata: #3b5998;
  --color_cr: #00acce;
  --color_tbp: #2e4741;
  --color_est: #c8232c;
  --color_co:#b4c723;
  --color_esofago:#077814;
  --color_bexiga:#c523c7;
  --color_laringe:#4723c7;
  --color_leucemia:#e49611;
  --color_snc:#23a7c7;
  --color_pele:#48db65;
}

.title_grafico{
  margin-top: 100px;
  text-align: center;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}

.container_grafico{
  width: 700px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

}

.grafico{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: conic-gradient(var(--color_prostata) 29.2%, 
                                   var(--color_cr) 29.2% 38.3%,
                                   var(--color_tbp) 38.3% 46.2%,
                                   var(--color_est) 46.2% 52.1%,
                                   var(--color_co) 52.1% 57.1%,
                                   var(--color_esofago) 57.1% 61%,
                                   var(--color_bexiga) 61% 64.4%,
                                   var(--color_laringe) 64.4% 67.3%,
                                   var(--color_leucemia) 67.3% 70%,
                                   var(--color_snc) 70% 72.6%,
                                   var(--color_pele) 72.6%
                                  );
  box-shadow: 1px 1px 5px 1px rgb(70, 70, 70);
}

.legenda_toda{
  margin-top: -3px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

[class^="color_"]{
  width: 15px;
  height: 15px;
  background-color: var(--color_prostata);
  margin-right: 8px;
  border-radius: 3px;
}

.color_cr{
  background-color: var(--color_cr);
}

.color_tbp{
  background-color: var(--color_tbp);
}

.color_est{
  background-color: var(--color_est);
}

.color_co{
  background-color: var(--color_co);
}

.color_esofago{
  background-color: var(--color_esofago);
}

.color_bexiga{
  background-color: var(--color_bexiga);
}

.color_laringe{
  background-color: var(--color_laringe);
}

.color_leucemia{
  background-color: var(--color_leucemia);
}

.color_snc{
  background-color: var(--color_snc);
}

.color_pele{
  background-color: var(--color_pele);
}

.leg{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}

:root{
  --color_mama: #f48add;
  --color_cr2: #1eca1c;
  --color_coloutero: #7269f7;
  --color_tbp2: #47e1d7;
  --color_tireoide:#ffd60a;
  --color_estomago:#c8232c;
  --color_ovario:#105b06;
  --color_corpoutero:#6f328f;
  --color_linf:#1134e4;
  --color_snc2:#fa7900;
  --color_pele2:#701a1a;
}


.grafico2{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: conic-gradient(var(--color_mama) 29.7%, 
                                  var(--color_cr2) 29.7% 38.9%,
                                  var(--color_coloutero) 38.9% 46.4%,
                                  var(--color_tbp2) 46.4% 52%,
                                  var(--color_tireoide) 52% 57.4%,
                                  var(--color_estomago) 57.4% 60.9%,
                                  var(--color_ovario) 60.9% 63.9%,
                                  var(--color_corpoutero) 63.9% 66.8%,
                                  var(--color_linf) 66.8% 69.2%,
                                  var(--color_snc2) 69.2% 71.5%,
                                  var(--color_pele2) 71.5%);
  box-shadow: 1px 1px 5px 1px  rgb(70, 70, 70);
}
[class^="color_"]{
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 3px;
}
.color_mama{
  background-color: var(--color_mama);
}

.color_cr2{
  background-color: var(--color_cr2);
}

.color_coloutero{
  background-color: var(--color_coloutero);
}

.color_tbp2{
  background-color: var(--color_tbp2);
}

.color_tireoide{
  background-color: var(--color_tireoide);
}

.color_estomago{
  background-color: var(--color_estomago);
}

.color_ovario{
  background-color: var(--color_ovario);
}

.color_corpoutero{
  background-color: var(--color_corpoutero);
}

.color_linf{
  background-color: var(--color_linf);
}

.color_snc2{
  background-color: var(--color_snc2);
}

.color_pele2{
  background-color: var(--color_pele2);
}






.pele{
  width:270px;
  height: 170px;
  align-items: center;
}
.mama{
  width:270px;
  height: 170px;
  align-items: center;
}
.colorretal{
  width:170px;
  height: 210px;
  align-items: center;
}
.prostata{
  width: 270px;
  height: 200px;
  align-items: center;
}
.colodeutero{
  width:290px;
  height: 180px;
  align-items: center;
}


.org {
  margin: 40px;
}

.caixa1{
  background-image: linear-gradient(rgba(255, 94, 0, 0.815), rgba(30, 17, 4, 0.30));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
}

.caixa2{
  background-image: linear-gradient(rgba(38, 77, 184, 0.815), rgba(30, 17, 4, 0.30));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
}
.caixa3{
  background-image: linear-gradient(rgba(247, 202, 2, 0.815), rgba(30, 17, 4, 0.30));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
}
.caixa4{
  background-image: linear-gradient(rgba(33, 207, 56, 0.815), rgba(30, 17, 4, 0.30));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
}
.caixa5{
  background-image: linear-gradient(rgba(207, 33, 114, 0.815), rgba(30, 17, 4, 0.30));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
}
.caixa6{
  background-image: linear-gradient(rgba(209, 161, 3, 0.815), rgba(30, 17, 4, 0.30));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
}


