
:root {

  --color-text-primary: #FFFFFF;
  --color-text-title: #E50914;
  --color-text-main: #AAA;
  --color-background-button: #FFFFFF;
  --color-text-button: #141414;
}


/* elementos base */
body {
  background: linear-gradient(to right, #2A348E, #102444);
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-primary);

}

header a {
  padding: 15px;
  color: whitesmoke;
}

.button,
h3 {
  margin-left: 20px;
}

header .container {
  display: flex;
  flex-direction: row;

  /* coloca o menu ao lado da logo */
  align-items: center;
  /* alinhando o menu ao centro do container */
  justify-content: space-between;
  /* adicionando um espaço entre o menu e a logo */
}

.logo {
  width: 200px;
  height: 80px;
  /* tamanho da logo na tela */
  margin: 15px;
  /* espaçamento entre o lado esquerdo da tela e a logo */
}

header nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: Poppins;
}

header nav a:hover {
  color: var(--color-text-primary);
}

.org {
  margin: 30px;
}

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  height: 580px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description {
  margin-top: 10px;
}

.main-movie .title-movie {
  margin-top: 18%;
  font-size: 40px;
}

.main-movie .container {
  width: 100%;
}

.button {
  background-color: rgba(0, 0, 0, 0.50);
  border: none;
  color: var(--color-text-primary);
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;

}

.button:hover {
  background-color: var(--color-background-button);
  color: var(--color-text-button);
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.carousel-movie {
  margin-top: 5px;
}

/* início da estilização do footer */
.baseboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.baseboard a {
  color: var(--color-text-primary);
}

/* fim da estilização do footer */

/* responsivo */
@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .button {
    margin-top: 5px;
    width: 200px;

  }
}

@media screen and (min-width: 1030px) {
  .description {
    width: 50%;
  }
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
}

.mySlides {
  display: none;
}
.imgslide{
    width: 100%;
    height: 100%;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: whitesmoke;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight:800;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.button3 {
  
  border: none;
  color: var(--color-text-primary);
  padding: 8px 10px;
  font-size: 11px;
  font-weight: 700;
}

#nucleo{
  background-color: slateblue;}
#cromossomo{
  background-color: #1969AB;}
#divisao{
  background-color: navy;}
#cancer{
  background-color: #D4145A;}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none;
}

.img {
  vertical-align: middle;
}

.mySlides fade {
  max-width: 100%;
  min-height: 300px
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #2a3a8e;
  font-size: 15px;
  font-weight: 800;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

p {
  font-family: 18px;
  text-align: justify;
  max-width: 85%;
  margin: 30px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.gb_hf:not(.gb_yf) {
  padding: 11px 0;
}

.caixas {
  background: linear-gradient(to right, gray, whitesmoke, gray);
  display: flex;
  width: 100%;
  height: 180%;
  justify-content: center;
  padding: 50px;
}

.quadro {
  text-align: center;
  box-shadow: 0px 12px 20px -9px black;
  padding: 30px;
  background: white;
  margin: 35px;
}

.caixas img {
  margin: 15px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.caixatexto {
  margin: 15px;
  text-align: left;
  font-family: Poppins;

}

.button2 {
  background-color: rgba(0, 0, 0, 0.40);
  border: none;
  color: var(--color-text-primary);
  padding: 8px 16px;
  margin-right: 15px;
  margin-block: 8px;
  font-size: 11px;
  font-weight: 700;

}

.org2 {
  margin: 50px;
  text-align: center;
}

#if {
  width: 125px;
  height: 130px;

}

.titulos {
  margin: 50px;
  text-align: center;
  font-size: 18px;
}
